<link
  href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap"
  rel="stylesheet"
/>

<h2>Calculadora Binária</h2>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group ">
        <input type="text" name="resultado" value="{{ resultado }}" disabled />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <button
        (click)="montarResultado('0')"
        type="button"
        class="btn btn-info btn-lg btn-block"
      >
        0
      </button>
      <button
        (click)="montarResultado('1')"
        type="button"
        class="btn btn-info btn-lg btn-block"
      >
        1
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <button
        type="button"
        (click)="montarResultado('+')"
        class="btn btn-dark btn-lg btn-block"
      >
        +
      </button>
      <button
        type="button"
        (click)="montarResultado('-')"
        class="btn btn-dark btn-lg btn-block"
      >
        -
      </button>
      <button
        type="button"
        (click)="montarResultado('*')"
        class="btn btn-dark btn-lg btn-block"
      >
        X
      </button>
      <button
        type="button"
        (click)="montarResultado('%')"
        class="btn btn-dark btn-lg btn-block"
      >
        %
      </button>
      <button
        type="button"
        (click)="finalizar() "
        class="btn btn-success btn-lg btn-block"
      >
        =
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button
        (click)="limpar()"
        type="button"
        class="btn btn-danger btn-lg btn-block"
      >
        CE
      </button>
    </div>
  </div>
</div>
