* {
  font-family: "Baloo Tammudu 2", cursive;
  color: white;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav {
  padding: 10px 5px 0;
  font-size: xx-large;
}

.navbar {
  background-color: #0a3d62;
}

li {
  font-size: 36px;
  margin-top: 10px;
  padding: 5px 70px;
}

.container {
  margin-top: 50px;
  justify-content: center;
  align-content: center;
}
